name: sshkey
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'

env:
 TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
       DEBIAN_FRONTEND: noninteractive
      run: |
       sudo timedatectl set-timezone "$TZ"

    - name: Generate ssh key
      run: |
       ssh-keygen -t rsa -C "782558181@qq.com"
       cd /home/runner/.ssh 
       ls
       cat id_rsa.pub
