name: Upload
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'

env:
 TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
       DEBIAN_FRONTEND: noninteractive
      run: |
       sudo timedatectl set-timezone "$TZ"

    - name: Clone Source
      run: |
       git clone https://github.com/Boos4721/openwrt.git
       cd openwrt
       git checkout 95a85b4247
       git pull --rebase origin master
       cp -rf target/linux/ipq807x ..

    - name: Upload Directory
      uses: actions/upload-artifact@main
      with:
        name: qsdk-ax6
        path: /home/runner/work/test3/ipq807x
