name: Upload
on:
  repository_dispatch:
  workflow_dispatch:
    inputs:
      ssh:
        description: 'SSH connection to Actions'
        required: false
        default: 'false'

env:
 TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@main

    - name: Initialization environment
      env:
       DEBIAN_FRONTEND: noninteractive
      run: |
       sudo timedatectl set-timezone "$TZ"

    - name: Clone Source
      run: |
       git clone https://github.com/Boos4721/openwrt.git
       cd openwrt
       git checkout 105b5c07f9

    - name: Pull Source
      run: |
       ls
       cd openwrt
       git pull --rebase origin master

    - name: Copy Source
      run: |
       ls
       cd openwrt
       cp -rf target/linux/ipq807x ..

    - name: Upload Directory
      uses: actions/upload-artifact@main
      with:
        name: ipq807x
        path: /home/runner/work/test3/test3/ipq807x
